In [3]:
# pip install pyspark
# pip install findspark

In [4]:
# pip install pyspark

In [5]:
import sys
print(sys.executable)

c:\Users\surya\anaconda3\python.exe

# import necessarey libraries

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# initilize the spark session

In [7]:


spark=SparkSession.builder \
    .appName("Ingest bank data csv file into pyspark") \
    .master("local[*]") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

# Load CSV into DataFrame

In [10]:
csv_path=r"D:\Surya files\pysparkPractice\pysparkPractice\inputFiles\bank.csv"
df=spark.read.csv(csv_path, header=True, inferSchema=True)

# Verify Ingestion

In [11]:
print(df.show(5))

+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

None

In [12]:
display(df.show())

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

None

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

# selecting the specific columns

In [14]:
df.select("age","job","marital").show(20)

+---+-----------+--------+
|age|        job| marital|
+---+-----------+--------+
| 59|     admin.| married|
| 56|     admin.| married|
| 41| technician| married|
| 55|   services| married|
| 54|     admin.| married|
| 42| management|  single|
| 56| management| married|
| 60|    retired|divorced|
| 37| technician| married|
| 28|   services|  single|
| 38|     admin.|  single|
| 30|blue-collar| married|
| 29| management| married|
| 46|blue-collar|  single|
| 31| technician|  single|
| 35| management|divorced|
| 32|blue-collar|  single|
| 49|   services| married|
| 41|     admin.| married|
| 49|     admin.|divorced|
+---+-----------+--------+
only showing top 20 rows

# filtering the specific rows

In [15]:
df.filter(df["age"]>55).select("age","job","marital").show(20)

+---+-------------+--------+
|age|          job| marital|
+---+-------------+--------+
| 59|       admin.| married|
| 56|       admin.| married|
| 56|   management| married|
| 60|      retired|divorced|
| 60|   technician| married|
| 60|  blue-collar| married|
| 59|      retired| married|
| 60|      retired| married|
| 57|   technician| married|
| 59|  blue-collar| married|
| 60|     services|  single|
| 59|     services| married|
| 59|      retired|  single|
| 56|  blue-collar| married|
| 60|  blue-collar|divorced|
| 56|   technician| married|
| 59|      retired|divorced|
| 58| entrepreneur| married|
| 56|    housemaid|divorced|
| 58|self-employed|divorced|
+---+-------------+--------+
only showing top 20 rows

# row count

In [16]:
print('Total number of rows in the given dataset:',df.count())

Total number of rows in the given dataset: 11162

# statistics summarey

In [17]:
df.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11160|             11162|             11162|             11162|   11162|  11162|
|   mean|41.231947679627304|   NULL|    NULL|     NULL|   NULL|1528.5385235620856|   NULL| NULL|    NULL|15.658036194230425| NULL|371.93844086021505| 2.508421429851281| 51.33040673714388|0.8325568894463358|    NULL|   NULL|
| stddev|11.913369192215518|   NULL|    NULL|     NULL|   NULL| 3225.413325946149|   NULL| NULL|    NULL| 8.420739541006462| NULL| 347.1348375737838|2.7220771816614824|108.75828197197717| 2.292007218670508|    NULL|   NULL|
|    min|                18| admin.|divorced|  primary|     no|             -6847|     no|   no|cellular|                 1|  apr|                 2|                 1|                -1|                 0| failure|     no|
|    max|                95|unknown|  single|  unknown|    yes|             81204|    yes|  yes| unknown|                31|  sep|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

# create temporarey table or view from the above dataframe

In [18]:
df.createOrReplaceTempView("BankUsersData")

In [19]:

spark.sql("""
SELECT

marital, count(*) as count

FROM

BankUsersData

GROUP BY

marital

""").show()

+--------+-----+
| marital|count|
+--------+-----+
|divorced| 1293|
| married| 6351|
|  single| 3518|
+--------+-----+

In [20]:
spark.sql("""
select 
age,count(*) as count
from
BankUsersData
group by age
""").show()

+---+-----+
|age|count|
+---+-----+
| 31|  496|
| 85|    5|
| 65|   27|
| 53|  204|
| 78|   19|
| 34|  466|
| 81|    9|
| 28|  292|
| 76|   21|
| 26|  235|
| 27|  246|
| 44|  238|
| 22|   48|
| 93|    2|
| 47|  255|
| 52|  205|
| 86|    5|
| 40|  326|
| 20|   20|
| 57|  184|
+---+-----+
only showing top 20 rows

In [21]:
df.groupBy("job").count().show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management| 2566|
|      retired|  778|
|      unknown|   70|
|self-employed|  405|
|      student|  360|
|  blue-collar| 1944|
| entrepreneur|  328|
|       admin.| 1334|
|   technician| 1823|
|     services|  923|
|    housemaid|  274|
|   unemployed|  357|
+-------------+-----+

In [22]:
df.groupBy("marital").count().show()

+--------+-----+
| marital|count|
+--------+-----+
|divorced| 1293|
| married| 6351|
|  single| 3518|
+--------+-----+

In [23]:
df.groupBy("age").count().filter((col("count") > 400) & (col("count") < 500)).show(100)

+---+-----+
|age|count|
+---+-----+
| 31|  496|
| 34|  466|
| 35|  461|
| 32|  477|
| 33|  464|
| 30|  456|
| 36|  432|
+---+-----+

In [24]:
df.groupBy("age").count().filter(col("count") > 300).show()

+---+-----+
|age|count|
+---+-----+
| 31|  496|
| 34|  466|
| 40|  326|
| 37|  370|
| 35|  461|
| 39|  343|
| 38|  353|
| 29|  328|
| 32|  477|
| 33|  464|
| 30|  456|
| 36|  432|
+---+-----+

In [25]:
df.groupBy("job").count().show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management| 2566|
|      retired|  778|
|      unknown|   70|
|self-employed|  405|
|      student|  360|
|  blue-collar| 1944|
| entrepreneur|  328|
|       admin.| 1334|
|   technician| 1823|
|     services|  923|
|    housemaid|  274|
|   unemployed|  357|
+-------------+-----+

#  Stop SparkSession

In [26]:
spark.stop()